@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

h1 {
    font-family: 'Roboto', sans-serif;
    color: rgb(27, 27, 27);
    text-align: center;
}

.solid {
    border-top: 3px solid rgb(27, 27, 27);
    margin-left: 10vw;
    margin-right: 10vw;
}

.canvas-container {
    width: 100%;
    text-align: center;
}

canvas {
    display: inline;
}